/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main styles */
body {
  background-color: $color-bg;
  font-family: $font-body;
  font-weight: 400;
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 3rem;
  height: 100%;
  color: $color-text;
}
@media (min-width: $bp-mobile) {
  body {
    grid-gap: 5rem;
    font-size: 1rem;
  }
}
#layout {
  grid-template-areas:
    "header"
    "main"
    "footer";
}
main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  grid-gap: 3rem;
}
@media (min-width: $bp-mobile) {
  main {
    grid-gap: 9rem;
  }
}
h1 {
  font-family: $font-headings;
  font-weight: 800;
  font-size: 2rem;
  line-height: 2rem;
  color: #2a3844;
}
@media (min-width: $bp-mobile) {
  h1 {
    font-size: 2.6rem;
    line-height: 3rem;
  }
}
h2 {
  font-family: $font-headings;
  font-weight: 800;
  font-size: 1.7rem;
  color: #e95600;
}
@media (min-width: $bp-mobile) {
  h2 {
    font-size: 2.3rem;
  }
}
h3 {
  font-family: $font-headings;
  font-weight: 700;
  font-size: 1.2rem;
  color: #eb6619;
}
@media (min-width: $bp-mobile) {
  h3 {
    font-size: 1.5rem;
  }
}
ul,
ol {
  font-family: $font-body;
  font-weight: 400;
  font-size: 1rem;
  list-style: none;
  color: #2a3844;
}
button {
  @include buttons(true);
}
input[type="submit"] {
  @include buttons(false);
}
input,
textarea {
  background-color: $color-bg;
  border-radius: 5px;
  padding: 1rem;
  font-family: $font-body;
  color: #2a3844;
  font-size: 1rem;
  border: none;
  margin-top: 0.5rem;
  &:focus {
    outline-width: 0;
  }
}
a {
  text-decoration: none;
}
article {
  grid-area: form;
}
form {
  font-family: $font-body;
  font-weight: 400;
  font-size: 1rem;
  color: #2a3844;
}

/* Main containers styles */
.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1320px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col {
  display: flex;
  flex-direction: column;
  width: 100%;
}
