/*
SCSS y CSS SUD - Proyecto Coderhouse Desarrollo Web
© Nicolás Chiari 2022
*/

// Partials
@import "variables";
@import "global";
@import "navbar";
@import "banners";

/* Header styles */
.header {
  grid-area: header;
}

/* Common components */
@import "components";

/* Index page styles */
@import "index";

/* Sobre mi page styles */
.about-me {
  @include component;
  align-items: flex-start;
  @media (min-width: $bp-tablet) {
    flex-direction: row;
  }
}
.about-me__col1 {
  text-align: center;
  img {
    border-radius: $radius;
  }
  @media (min-width: $bp-tablet) {
    width: 50%;
  }
}
.about-me__col2 {
  gap: 2rem;
  @media (min-width: $bp-tablet) {
    gap: 2rem;
    width: 50%;
  }
}

/* Cursos page styles */
.courses {
  @include component;
}
.courses-grid {
  display: grid;
  grid-gap: 3rem;
  grid-template-rows: repeat(4, auto);
}
.courses-box {
  display: flex;
  flex-direction: column;
  border-radius: $radius;
}
.courses-box__thumb {
  display: flex;
  img {
    width: 100%;
    border-radius: $radius;
  }
}
.courses-box__info {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  gap: 1rem;
  border-bottom: 1px solid #ededed;
}
.courses-box__price {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: $bp-mobile) {
  .courses-grid {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    grid-gap: 5rem;
  }
}

/* Footer styles */
@import "footer";
